header{
    height: 400px;
    text-align: center;
    background-image: url(../imagens/banner.jpg);
    background-position: top;
    background-size: 100% 450px;
    margin: 0px 0px 20px 0px;
    padding-top: 50px;
    font-variant: unset;
    color: white;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
    margin: 5px 0px 5px 0px ;
}

h4{
margin: 0px 5px 15px 0px;
}

h5{
    margin-top: 2px;
}

body{
    font-family:sans-serif;
}
nav {
    display: inline-block;
    justify-content: space-between;
    margin: 40px;
}


a{
    margin-left: 20px;
    border-radius: 30px;
    border-color: white;
    border: 1px;
    border-style: solid;
    padding:10px;
}


#primeira{
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}


.flex {
    display: inline-flex;
}

 .ladoborda{
     display: inline-flex;
    border-bottom: solid;
    border-width:1px;
    padding-bottom: 30px;
 }

.lado{
    display:inline-flex;
}

 .lado > p , .ladoborda > p{
     padding-left: 20px;
 }

#coluna1{
    width: 65%;
}

#coluna2{
    padding-left: 35px;
    width: 400px
}

#segunda{
    background-color: rgb(233, 233, 233);
    padding:50px;
}

#segunda > div{
    width: 35%;
    padding: 20px 30px 30px 20px; 
}

button{
    background-color: rgb(226, 95, 8);
    padding:20px;
    color: white;
    border-radius: 22px;
}

footer{
     background-color: rgb(34, 33, 33);
     color: white;
     width: 88%;
     padding: 90px;
     padding-top: 70px;
     padding-bottom: 70px;
}

footer > div{
    padding-inline-end: 80px;
}


